[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
Django = "~=4.2"
model-bakery = "~=1.4.0"
Sphinx = "~=5.2.3"
Pillow = "~=9.2.0"
tox = "~=4.2.0"
coverage = "~=7.2.0"

[dev-packages]
